{% extends "master.html" %}
{%load static %}

{% block title %}Blogs - Onward Edu{% endblock %}


{% block content %}
    <!--  Page Wrapper -->
  <div class="page-wrapper overflow-hidden">

    <!--  Banner Section Start-->
    <section class="banner-section banner-inner-section position-relative overflow-hidden d-flex align-items-end"
      style="background-image: url({% static 'images/backgrounds/blog-banner.jpg'%});">
      <div class="container">
        <div class="d-flex flex-column gap-4 pb-5 pb-xl-10 position-relative z-1">
          <div class="row align-items-center">
            <div class="col-xl-12">
              <div class="d-flex align-items-center gap-4" data-aos="fade-up" data-aos-delay="100"
                data-aos-duration="1000">
                <img src="  {% static 'images/svgs/tie-purple.svg' %}" alt="" style="height:50px;" class="img-fluid animate-spin">
                <h1 class="mb-0 fs-12 text-white lh-1 text-decoration-underline" > <span class="text-primary">Recent </span> <span style="color: #7f55b1;"> Blogs & Events</span> </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--  Banner Section End-->

    <!--  Blogs Section Start-->
    <section class="blog-section py-5 py-lg-11 py-xl-12">
      <div class="container">
        <div class="row">
          <!-- Blog / Event #1 Start-->
          <div class="col-lg-6 mb-7 ">
            <div class="resources d-flex flex-column gap-6" data-aos="fade-up" data-aos-delay="100"
              data-aos-duration="1000">
              <div href="blog-detail.html"
                class="resources-img resources-img-blog position-relative overflow-hidden d-block">
                <img src="{% static 'images/resources/resources-1.jpg'%}" alt="resources" class="img-fluid">
              </div>
              <div class="resources-details">
                <p class="mb-0" style="color:#7f55b1">Blog/Event #1 Date: ....</p>
                <h4 class="mb-0" style="color:#7f55b1">Blog/Event #1 Description: ....</h4>
              </div>
            </div>
          </div>
          <!-- Blog / Event #1 End-->

          <!-- Blog / Event #2 Start-->
          <div class="col-lg-6 mb-7">
            <div class="resources d-flex flex-column gap-6" data-aos="fade-up" data-aos-delay="200"
              data-aos-duration="1000">
              <div href="blog-detail.html"
                class="resources-img resources-img-blog position-relative overflow-hidden d-block">
                <img src="{% static 'images/resources/resources-2.jpg'%}" alt="resources" class="img-fluid">
              </div>
              <div class="resources-details">
                <p class="mb-0" style="color:#7f55b1">Blog/Event #1 Date: ....</p>
                <h4 class="mb-0" style="color:#7f55b1">Blog/Event #1 Description: ....</h4>
              </div>
            </div>
          </div>
          <!-- Blog / Event #2 End-->

          <!-- Blog / Event #3 Start-->
          <div class="col-lg-6 mb-7">
            <div class="resources d-flex flex-column gap-6" data-aos="fade-up" data-aos-delay="300"
              data-aos-duration="1000">
              <div href="blog-detail.html"
                class="resources-img resources-img-blog position-relative overflow-hidden d-block">
                <img src="{% static 'images/resources/resources-3.jpg'%}" alt="resources" class="img-fluid">
              </div>
              <div class="resources-details">
                <p class="mb-0" style="color:#7f55b1">Blog/Event #1 Date: ....</p>
                <h4 class="mb-0" style="color:#7f55b1">Blog/Event #1 Description: ....</h4>
              </div>
            </div>
          </div>
          <!-- Blog / Event #3 End-->

          <!-- Blog / Event #4 Start-->
          <div class="col-lg-6 mb-7">
            <div class="resources d-flex flex-column gap-6" data-aos="fade-up" data-aos-delay="400"
              data-aos-duration="1000">
              <div href="blog-detail.html"
                class="resources-img resources-img-blog position-relative overflow-hidden d-block">
                <img src="{%static 'images/services/services-img-1.jpg'%}" alt="resources" class="img-fluid">
              </div>
              <div class="resources-details">
                <p class="mb-0" style="color:#7f55b1">Blog/Event #1 Date: ....</p>
                <h4 class="mb-0" style="color:#7f55b1">Blog/Event #1 Description: ....</h4>
              </div>
            </div>
          </div>
          <!-- Blog / Event #4 End-->
        </div>
      </div>
    </section>
    <!--  Blogs Section End-->

  </div>
{% endblock content %}
    