{% extends "master.html" %}
{% load static %}


{% block title %}
  ONWARD Edu
{% endblock %}


{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<div class="p-3 p-xl-5">

  <img src="{{user.profile_picture.url}}" alt="" class="img-thumbnail" style="height:150px; width:150px;">
  <h2 class="mt-5" style="color:#7f55b1">Welcome <span style="color:#f79630">{{user.username}}</span> to ONWARD Edu.</h2>
  <hr>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb" >
      <li class="breadcrumb-item" ><a href="/" style="color:#7f55b1">Home</a></li>
      <li class="breadcrumb-item" ><a href="/services" style="color:#7f55b1">Services</a></li>
      <li class="breadcrumb-item" ><a href="/blog" style="color:#7f55b1">Blogs & Events</a></li>
      <li class="breadcrumb-item" ><a href="/contact" style="color:#7f55b1">Contact Details</a></li>
      <li class="breadcrumb-item" ><a href="/helpcenter" style="color:#7f55b1">Help Center</a></li>
      <li class="breadcrumb-item" ><a href="/signout" style="color:#7f55b1">Sign Out</a></li>
      
    </ol>
  </nav>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}