{% extends "master.html" %}
{%load static %}

{% block title %}FAQs - Onward Edu{% endblock %}


{% block content %}
    <!--  Page Wrapper -->
  <div class="page-wrapper overflow-hidden">

    <br>
    <br>
    <br>
    <br>

    <!--  FAQ Section -->
    <section class="faq py-5 py-lg-11 py-xl-12" >
      <div class="container">
        <div class="d-flex flex-column gap-5 gap-xl-11">
          <div class="row gap-7 gap-xl-0">
            <div class="col-xl-4 col-xxl-4">
              <div class="d-flex align-items-center gap-7 py-2" data-aos="fade-right" data-aos-delay="100"
                data-aos-duration="1000">
                <span
                  class="round-36 flex-shrink-0 text-dark rounded-circle bg-primary hstack justify-content-center fw-medium">01</span>
                
                <hr class="border-line" style="background-color:#f79630">
                <span class="badge " style="background-color:#f79630">FAQs</span>
              </div>
            </div>
            <div class="col-xl-8 col-xxl-7">
              <div class="row">
                <div class="col-xxl-9">
                  <div class="d-flex flex-column gap-6" data-aos="fade-up" data-aos-delay="100"
                    data-aos-duration="1000">
                    <h2 class="mb-0" style="color:#7f55b1">Frequently asked questions</h2>
                    <p class="fs-5 mb-0 text-opacity-70" style="color:#7f55b1">Discover how we tailor our solutions to meet unique needs,
                      delivering impactful strategies, personalized branding, and exceptional customer experiences.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-end">
            <div class="col-xl-8">
              <div class="accordion accordion-flush" id="accordionFlushExample" data-aos="fade-up" data-aos-delay="200"
                data-aos-duration="1000">
                <div class="accordion-item" >
                  <h2 class="accordion-header" >
                    <button class="accordion-button collapsed fs-8 fw-bold" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" style="color:#7f55b1">
                      What services does your agency offer?
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body pt-0 fs-5" style="color:#7f55b1">Yes, we provide post-launch support to ensure smooth
                      implementation and offer ongoing maintenance packages for clients needing regular updates or
                      technical assistance.</div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed fs-8 fw-bold" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo" style="color:#7f55b1">
                      How long does a typical project take?
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body pt-0 fs-5" style="color:#7f55b1">Yes, we provide post-launch support to ensure smooth
                      implementation and offer ongoing maintenance packages for clients needing regular updates or
                      technical assistance.</div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed fs-8 fw-bold" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree" style="color:#7f55b1">
                      Do you offer custom designs, or do you use templates?
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body pt-0 fs-5" style="color:#7f55b1">Yes, we provide post-launch support to ensure smooth
                      implementation and offer ongoing maintenance packages for clients needing regular updates or
                      technical assistance.</div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed fs-8 fw-bold" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour" style="color:#7f55b1">
                      What's the cost of a project?
                    </button>
                  </h2>
                  <div id="flush-collapseFour" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body pt-0 fs-5" style="color:#7f55b1">Yes, we provide post-launch support to ensure smooth
                      implementation and offer ongoing maintenance packages for clients needing regular updates or
                      technical assistance.</div>
                  </div>
                </div>
                <div class="accordion-item border-bottom">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed fs-8 fw-bold" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive" style="color:#7f55b1">
                      Do you provide ongoing support after project completion?
                    </button>
                  </h2>
                  <div id="flush-collapseFive" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body pt-0 fs-5" style="color:#7f55b1">Yes, we provide post-launch support to ensure smooth
                      implementation and offer ongoing maintenance packages for clients needing regular updates or
                      technical assistance.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
{% endblock content %}