{% extends "master.html" %}
{%load static %}

{% block title %}Privacy Policy - Onward Edu{% endblock %}


{% block content %}
   <!--  Page Wrapper -->
  <div class="page-wrapper overflow-hidden">

    <!--  Banner Section Start -->
    <section class="banner-section banner-inner-section position-relative overflow-hidden d-flex align-items-end"
      style="background-image: url({% static 'images/backgrounds/privacy-policy-banner.jpg'%});">
      <div class="container">
        <div class="d-flex flex-column gap-4 pb-5 pb-xl-10 position-relative z-1">
          <div class="row align-items-center">
            <div class="col-xl-12">
              <div class="d-flex align-items-center gap-4" data-aos="fade-up" data-aos-delay="100"
                data-aos-duration="1000">
                <img src="  {% static 'images/svgs/tie-purple.svg' %}" alt="" style="height:50px;" class="img-fluid animate-spin">
                <h1 class="mb-0 fs-12 text-white lh-1 text-decoration-underline" > <span class="text-primary">Our </span> <span style="color: #7f55b1;"> Privacy Policy</span> </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--  Banner Section End -->

    <!--  Privacy Policy Section Start -->
    <section class="privacy-policy py-5 py-lg-11">
      <div class="container">
        <br>
        <br>
        <br>
        <br>
        <h4 class="my-4" style="color:#7f55b1">Will be released soon ..................</h4>
        <br>
        <br>
        <br>
        <br>
      </div>
    </section>
    <!--  Privacy Policy Section End -->

  </div>
{% endblock content %}