{% extends "master.html" %}
{%load static %}

{% block title %}Services - Onward Edu{% endblock %}


{% block content %}
    <!--  Page Wrapper -->
  <div class="page-wrapper overflow-hidden">

    <!--  Banner Section Start -->
    <section class="banner-section banner-inner-section position-relative overflow-hidden d-flex align-items-end"
      style="background-image: url({% static 'images/backgrounds/privacy-policy-banner.jpg'%});">
      <div class="container">
        <div class="d-flex flex-column gap-4 pb-5 pb-xl-10 position-relative z-1">
          <div class="row align-items-center">
            <div class="col-xl-12">
              <div class="d-flex align-items-center gap-4" data-aos="fade-up" data-aos-delay="100"
                data-aos-duration="1000">
                <img src="  {% static 'images/svgs/tie-purple.svg' %}" alt="" style="height:50px;" class="img-fluid animate-spin">
                <h1 class="mb-0 fs-12 text-white lh-1 text-decoration-underline" > <span class="text-primary">Explore </span> <span style="color: #7f55b1;"> Our Services</span> </h1>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </section>
    <!--  Banner Section End -->


    <!--  Services Section Start -->
    <section class="services py-5  " id="services" >
      <div class="container">
        <div class="d-flex flex-column gap-5 gap-xl-10">
          <div class="row gap-7 gap-xl-0">
            <div class="col-xl-4 col-xxl-4">
              <div class="d-flex align-items-center gap-7 py-2" data-aos="fade-right" data-aos-delay="100"
                data-aos-duration="1000">
                <span
                  class="round-36 flex-shrink-0 text-dark rounded-circle bg-primary hstack justify-content-center fw-medium">01 </span>
                <hr class="border-line" style="background-color: #f79630;">
                <span class="badge text-dark" style="background-color: #f79630;">Services</span>
              </div>
            </div>
            <div class="col-xl-8 col-xxl-7">
              <div class="row">
                <div class="col-xxl-8">
                  <div class="d-flex flex-column gap-6" data-aos="fade-up" data-aos-delay="100"
                    data-aos-duration="1000">
                    <h2 class="mb-0 " style="color:#7f55b1">Explore Our Services</h2>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="services-tab">
            <div class="row gap-5 gap-xl-0">
              <div class="col-xl-4">
                
              </div>
              <div class="col-xl-8">

                <div class="accordion" id="accordionPanelsStayOpenExample">

                <!-- Service #1 Start -->
                <div class="accordion-item p-5" >
                  <h2 class="accordion-header" >
                    <button style="color:#7f55b1" class="accordion-button  collapsed fs-9 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                      Service #1 Title: ......
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                    <div class="accordion-body border-top border-2" >
                      <h6 style="color:#7f55b1">Service #1 Description: .......</h6>
                    </div>
                  </div>
                </div>
                <!-- Service #1 End -->

                <!-- Service #2 Start -->
                <div class="accordion-item p-5">
                  <h2 class="accordion-header">
                    <button style="color:#7f55b1" class="accordion-button  collapsed fs-9 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      Service #2 Title: ......
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                    <div class="accordion-body border-top border-2" >
                      <h6 style="color:#7f55b1">Service #2 Description: .......</h6>
                    </div>
                  </div>
                </div>
                <!-- Service #2 End -->

                <!-- Service #3 Start -->
                <div class="accordion-item p-5">
                  <h2 class="accordion-header">
                    <button style="color:#7f55b1" class="accordion-button  collapsed fs-9 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                      Service #4 Title: ......
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                    <div class="accordion-body border-top border-2" >
                      <h6 style="color:#7f55b1">Service #3 Description: .......</h6>
                    </div>
                  </div>
                </div>
                <!-- Service #3 End -->

                <!-- Service #4 Start -->
                <div class="accordion-item p-5">
                  <h2 class="accordion-header">
                    <button style="color:#7f55b1" class="accordion-button  collapsed fs-9 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                      Service #4 Title: .......
                    </button>
                  </h2>
                  
                  <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
                    <div class="accordion-body border-top border-2" >
                      <h6 style="color:#7f55b1">Service #4 Description: .......</h6>
                    </div>
                  </div>
                </div>
                <!-- Service #4 End -->

              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--  Services Section End -->


    <!--  Pricing Section Start -->
    <section class="pricing-section py-5 py-lg-11 py-xl-12">
      <div class="container">
        <div class="d-flex flex-column gap-5 gap-xl-10">
          <div class="d-flex flex-column gap-5 gap-xl-11">
            <div class="row gap-7 gap-xl-0">
              <div class="col-xl-4 col-xxl-4">
                <div class="d-flex align-items-center gap-7 py-2" data-aos="fade-right" data-aos-delay="100"
                  data-aos-duration="1000">
                  <span
                    class="round-36 flex-shrink-0 text-dark rounded-circle bg-primary hstack justify-content-center fw-medium">02</span>
                  <hr class="border-line" style="background-color: #f79630;">
                  <span class="badge text-dark" style="background-color: #f79630;">Pricing</span>
                </div>
              </div>
              <div class="col-xl-8 col-xxl-7">
                <div class="row">
                  <div class="col-xxl-8">
                    <div class="d-flex flex-column gap-6" data-aos="fade-up" data-aos-delay="100"
                      data-aos-duration="1000">
                      <h2 class="mb-0" style="color: #7f55b1;">Affordable pricing</h2>
                      <p class="fs-5 mb-0 text-opacity-70" style="color: #7f55b1;">A glimpse into our creativity—exploring innovative ideas,
                        successful collaborations, and transformative experiences.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">

              <!-- Pricing #1 Start-->
              <div class="col-lg-6 col-xl-4 mb-7 mb-xl-0 d-flex align-items-stretch">
                <div class="card w-100 rounded-5" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000" style="background-color: #ebe95c;">
                  <div class="card-body p-7 p-xxl-5 d-flex flex-column gap-8">
                    <div class="d-flex flex-column gap-6">
                      <h5 class="mb-0 fw-medium">Launch</h5>
                      <div class="hstack gap-2">
                        <h3 class="mb-0">$699</h3>
                        <p class="mb-0">/month</p>
                      </div>
                      <p class="mb-0">Ideal for startups and small businesses taking their first steps online.</p>
                    </div>
                    <div class="pt-8 border-top border-dark d-flex flex-column gap-6">
                      <h6 class="mb-0 fw-normal">What's Included:</h6>
                      <ul class="list-unstyled d-flex flex-column gap-3 mb-0">
                        <li class="hstack gap-3">
                          <span
                            class="round-32 rounded-circle bg-dark flex-shrink-0 hstack justify-content-center"><iconify-icon
                              icon="lucide:check" class="fs-6 text-white"></iconify-icon></span>
                          <h6 class="mb-0 fw-normal">Advantage #1: .......</h6>
                        </li>
                        <li class="hstack gap-3">
                          <span
                            class="round-32 rounded-circle bg-dark flex-shrink-0 hstack justify-content-center"><iconify-icon
                              icon="lucide:check" class="fs-6 text-white"></iconify-icon></span>
                          <h6 class="mb-0 fw-normal">Advantage #2: .......</h6>
                        </li>
                        <li class="hstack gap-3">
                          <span
                            class="round-32 rounded-circle bg-dark flex-shrink-0 hstack justify-content-center"><iconify-icon
                              icon="lucide:check" class="fs-6 text-white"></iconify-icon></span>
                          <h6 class="mb-0 fw-normal">Advantage #3: .......</h6>
                        </li>
                        <li class="hstack gap-3">
                          <span
                            class="round-32 rounded-circle bg-dark flex-shrink-0 hstack justify-content-center"><iconify-icon
                              icon="lucide:check" class="fs-6 text-white"></iconify-icon></span>
                          <h6 class="mb-0 fw-normal">Advantage #4: .......</h6>
                        </li>
                      </ul>
                    </div>
                    <a href="/signup" class="button bg-secondary text-white w-100 justify-content-center">
                      <span class="button-text text-white">Subscribe now</span>
                      <iconify-icon icon="lucide:arrow-up-right"
                        class="button-icon bg-white text-dark round-52 rounded-circle hstack justify-content-center fs-7 shadow-sm"></iconify-icon>
                    </a>
                  </div>
                </div>
              </div>
              <!-- Pricing #1 End-->

              <!-- Pricing #2 Start-->
              <div class="col-lg-6 col-xl-4 mb-7 mb-xl-0 d-flex align-items-stretch">
                <div class="card w-100 rounded-5" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000" style="background-color: #251e20;">
                  <div class="card-body p-7 p-xxl-5 d-flex flex-column gap-8 ">
                    <div class="d-flex flex-column gap-3 ">
                      <div class="hstack gap-3 ">
                        <h5 class="mb-0 fw-medium text-white">Scale</h5>
                        <span class="badge text-bg-primary hstack gap-2"><iconify-icon icon="lucide:flame"
                            class="fs-5 "></iconify-icon>Most popular</span>
                      </div>
                      <div class="hstack gap-2 text-white">
                        <h3 class="mb-0  text-white"><del>$2,199</del></h3>
                        <h3 class="mb-0 text-white">$1,699</h3>
                        <p class="mb-0 text-white">/month</p>
                      </div>
                      <p class="mb-0 text-white">Perfect for growing brands needing more customization and flexibility.</p>
                    </div>
                    <div class="pt-8 border-top border-white d-flex flex-column gap-6 text-white">
                      <h6 class="mb-0 fw-normal text-white">What's Included:</h6>
                      <ul class="list-unstyled d-flex flex-column gap-3 mb-0 ">
                        <li class="hstack gap-3">
                          <span
                            class="round-32 rounded-circle bg-primary flex-shrink-0 hstack justify-content-center"><iconify-icon
                              icon="lucide:check" class="fs-6 text-dark"></iconify-icon></span>
                          <h6 class="mb-0 fw-normal text-white">Advantage #1: ......</h6>
                        </li>
                        <li class="hstack gap-3">
                          <span
                            class="round-32 rounded-circle bg-primary flex-shrink-0 hstack justify-content-center"><iconify-icon
                              icon="lucide:check" class="fs-6 text-dark"></iconify-icon></span>
                          <h6 class="mb-0 fw-normal text-white">Advantage #2: ......</h6>
                        </li>
                        <li class="hstack gap-3">
                          <span
                            class="round-32 rounded-circle bg-primary flex-shrink-0 hstack justify-content-center"><iconify-icon
                              icon="lucide:check" class="fs-6 text-dark"></iconify-icon></span>
                          <h6 class="mb-0 fw-normal text-white">Advantage #3: ......</h6>
                        </li>
                        <li class="hstack gap-3">
                          <span
                            class="round-32 rounded-circle bg-primary flex-shrink-0 hstack justify-content-center"><iconify-icon
                              icon="lucide:check" class="fs-6 text-dark"></iconify-icon></span>
                          <h6 class="mb-0 fw-normal text-white">Advantage #4: ......</h6>
                        </li>
                      </ul>
                    </div>
                    <a href="/signup" class="button w-100 justify-content-center">
                      <span class="button-text">Subscribe now</span>
                      <iconify-icon icon="lucide:arrow-up-right"
                        class="button-icon bg-white text-dark round-52 rounded-circle hstack justify-content-center fs-7 shadow-sm"></iconify-icon>
                    </a>
                  </div>
                </div>
              </div>
              <!-- Pricing #2 End-->

              <!-- Pricing #3 Start-->
              <div class="col-lg-6 col-xl-4 mb-7 mb-xl-0 d-flex align-items-stretch">
                <div class="card w-100 rounded-5" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000" style="background-color: #f79630;">
                  <div class="card-body p-7 p-xxl-5 d-flex flex-column gap-8">
                    <div class="d-flex flex-column gap-6">
                      <h5 class="mb-0 fw-medium">Elevate</h5>
                      <div class="hstack gap-2">
                        <h3 class="mb-0">$3,499</h3>
                        <p class="mb-0">/month</p>
                      </div>
                      <p class="mb-0">Best suited for established businesses wanting a fully tailored experience.</p>
                    </div>
                    <div class="pt-8 border-top border-dark d-flex flex-column gap-6">
                      <h6 class="mb-0 fw-normal">What's Included:</h6>
                      <ul class="list-unstyled d-flex flex-column gap-3 mb-0">
                        <li class="hstack gap-3">
                          <span
                            class="round-32 rounded-circle bg-dark flex-shrink-0 hstack justify-content-center"><iconify-icon
                              icon="lucide:check" class="fs-6 text-white"></iconify-icon></span>
                          <h6 class="mb-0 fw-normal">Advantage #1: .......</h6>
                        </li>
                        <li class="hstack gap-3">
                          <span
                            class="round-32 rounded-circle bg-dark flex-shrink-0 hstack justify-content-center"><iconify-icon
                              icon="lucide:check" class="fs-6 text-white"></iconify-icon></span>
                          <h6 class="mb-0 fw-normal">Advantage #2: .......</h6>
                        </li>
                        <li class="hstack gap-3">
                          <span
                            class="round-32 rounded-circle bg-dark flex-shrink-0 hstack justify-content-center"><iconify-icon
                              icon="lucide:check" class="fs-6 text-white"></iconify-icon></span>
                          <h6 class="mb-0 fw-normal">Advantage #3: .......</h6>
                        </li>
                        <li class="hstack gap-3">
                          <span
                            class="round-32 rounded-circle bg-dark flex-shrink-0 hstack justify-content-center"><iconify-icon
                              icon="lucide:check" class="fs-6 text-white"></iconify-icon></span>
                          <h6 class="mb-0 fw-normal">Advantage #4: .......</h6>
                        </li>
                      </ul>
                    </div>
                    <a href="/signup" class="button bg-secondary text-white w-100 justify-content-center">
                      <span class="button-text text-white">Subscribe now</span>
                      <iconify-icon icon="lucide:arrow-up-right"
                        class="button-icon bg-white text-dark round-52 rounded-circle hstack justify-content-center fs-7 shadow-sm"></iconify-icon>
                    </a>
                  </div>
                </div>
              </div>
              <!-- Pricing #3 End-->

            </div>
          </div>
          
        </div>
      </div>
    </section>
    <!--  Pricing Section End -->

    

  </div>
{% endblock content %}