{% extends "master.html" %}
{%load static %}
{% load crispy_forms_tags %}

{% block title %}Signin - Onward Edu{% endblock %}


{% block content %}
    <!--  Page Wrapper -->
  <div class="page-wrapper overflow-hidden">

    <!--  Signin Form Start -->
    <section
      class="bg-light-gray border-top border-primary border-4 d-flex align-items-center justify-content-center min-vh-100">
      <div class="container py-3">
        <div class="sign-in card mx-auto shadow-lg">
          <div class="card-body py-8 px-lg-5">
            
              <!--<img src="{%static 'images/logos/logo.png'%}" alt="logo-dark" class="img-fluid">-->
            
            
            <div class="position-relative hstack justify-content-center">
              <hr class="my-8 w-100 d-block">
              <p class="mb-0 fs-9 fw-bold bg-body px-3 position-absolute top-50 start-50 translate-middle">Login</p>
            </div>

            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <form class="d-flex flex-column gap-3 form-control-lg border-bottom" method="post">
              

              {% csrf_token %}
              {{ form|crispy }}

              <button class="button button-dark w-100 justify-content-center py-2 fw-medium my-7 fs-4 lh-lg">
                Sign In
              </button>
            </form>
            
            <p class="mb-0 mt-3 fw-medium text-center">Don't have an account? <a href="/signup" style="color:#7f55b1; text-decoration: underline;">SignUp</a>
            </p>
            
          </div>
        </div>
      </div>
    </section>
    <!--  Signin Form End -->

  </div>

  

   
    
{% endblock content %}